* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
}

#divForm {
	width: 500px;
	margin: 10px auto;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h3 {
	padding-top : 10px;
	padding-bottom: 10px;
}

input[type=text], select, input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
	width:220px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

select ~ label {
	font-size: 12px;
	width: 25px;
}

#labelBirthday {
	width: 188px;
    overflow-y: scroll;
    background-color: transparent;
    border: transparent;
	padding: 0px;
}

#email,#reenter,#newpassword {
	width: 430px;
}

span {
	color: blue;
}
